/* Fuente */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap");
/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

/* Colores */
/* utilities */
.wrapper {
  padding: 0 100px;
}

.spacing-section {
  margin-bottom: 70px;
}

/* media */
@media (max-width: 908px) {
  .wrapper {
    padding: 0 30px;
  }
}
#menu-bars-hd {
  display: none;
}

.menu-bars-content {
  display: none;
}

.header-nav {
  background-color: #FBF8F3;
  position: fixed;
  padding: 40px 0 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header-nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav__title {
  color: #3180F5;
  font-size: 25px;
  font-weight: bold;
}
.header-nav__list-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header-nav__links-nav {
  color: #636363;
  font-size: 18px;
}

/* section-analytics */
.section-analytics {
  background-color: #FBF8F3;
  height: 100vh;
  min-height: 1450px;
}
.section-analytics__content {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
}
.section-analytics__title {
  font-size: 150px;
  line-height: 160px;
  width: 90%;
}
.section-analytics__description {
  width: 60%;
  font-size: 22px;
  color: #636363;
  line-height: 1.5;
  margin: 20px 0;
}
.section-analytics__box-social-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}
.section-analytics__learn-more {
  color: #1D7797;
}
.section-analytics__box-social {
  margin: 35px 0 10px 0;
}
.section-analytics__box-info {
  width: 70%;
}
.section-analytics__avatar-user {
  position: relative;
  margin-left: -25px;
}
.section-analytics__avatar-user:first-child {
  margin-left: 0;
}
.section-analytics__join {
  color: #636363;
  width: 30%;
  font-size: 20px;
}
.section-analytics__join span {
  font-weight: bold;
  color: #1D7797;
}

.statistics-followers {
  background-color: #D7F5F5;
  padding: 30px 30px 50px 30px;
  width: 650px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.statistics-followers__card-statistics {
  background-color: #fff;
  padding: 30px 30px 70px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.statistics-followers__avatar {
  width: 80px;
  margin-right: 20px;
}
.statistics-followers__header-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statistics-followers__user-name-box {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.statistics-followers__user-name {
  font-weight: bold;
  font-size: 20px;
}
.statistics-followers__live {
  color: #636363;
  font-size: 18px;
  position: relative;
  margin-top: 5px;
}
.statistics-followers__live::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #4BD9BF;
  top: 0;
  right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.statistics-followers__select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 18px;
  padding: 15px;
  width: 130px;
  border-radius: 5px;
  border: 1.5px solid #636363;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url("../Assets/chevron-down-solid.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 90px;
}
.statistics-followers__statistics {
  margin-top: 50px;
  width: 100%;
}

.container-card-type-statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}
.container-card-type-statistics__card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.container-card-type-statistics__card:last-child {
  margin-bottom: 0;
}
.container-card-type-statistics__amount {
  font-weight: bold;
  color: #000;
  font-size: 19px;
}
.container-card-type-statistics__card-title {
  font-weight: bold;
  font-size: 21px;
}
.container-card-type-statistics__card-description {
  font-size: 18px;
  color: #636363;
}

/* features-container | main*/
.features-container {
  display: flex;
  flex-direction: column;
}
.features-container__title {
  font-size: 40px;
  font-weight: bold;
  margin-right: auto;
}
.features-container__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
  gap: 40px;
}

/* section-customers */
.section-customers {
  background-color: #D7F5F5;
  padding: 70px 0;
}
.section-customers__title {
  font-size: 35px;
  font-weight: bold;
}
.section-customers__container {
  display: flex;
  flex-direction: column;
}
.section-customers__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

/* section-price-plan */
.section-price-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-price-plan__title {
  font-size: 35px;
}
.section-price-plan__description {
  color: #636363;
  font-size: 18px;
  margin: 20px 0;
}

/* footer-page */
.footer-page {
  background-color: #D7F5F5;
  width: 100%;
}
.footer-page__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.footer-page__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* media */
@media (max-width: 1548px) {
  .section-analytics {
    height: auto;
    padding-bottom: 40px;
  }
  .section-analytics__title {
    font-size: 50px;
    line-height: normal;
  }
  .section-analytics__content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .section-analytics__box-info {
    width: 100%;
    margin-top: 45px;
  }

  .statistics-followers {
    width: 100%;
    display: flex;
    gap: 50px;
  }

  .container-card-type-statistics {
    margin-bottom: auto;
    margin-top: 0;
  }
  .container-card-type-statistics__card {
    flex-direction: column-reverse;
  }
}
@media (max-width: 908px) {
  .statistics-followers {
    display: flex;
    flex-direction: column;
  }

  .section-analytics__title {
    width: 100%;
    font-size: 70px;
  }
  .section-analytics__description {
    font-size: 25px;
    width: 100%;
  }
  .section-analytics__join {
    width: 70%;
  }
  .section-analytics__box-social-btn {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1240px) {
  .features-container__content {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 853px) {
  .menu-bars-content {
    display: block;
  }

  .menu-bars {
    width: 33px;
  }

  .header-nav__nav {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    padding: 30px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transform: translateX(-100%);
    -o-transition: all 300ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  .header-nav__list-nav {
    display: flex;
    flex-direction: column;
  }

  #menu-bars-hd:checked ~ .header-nav__nav {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@media (max-width: 614px) {
  .section-analytics__title {
    font-size: 45px;
  }
  .section-analytics__description {
    font-size: 19px;
  }
}
@media (max-width: 560px) {
  .statistics-followers__header-card {
    flex-direction: column;
  }
  .statistics-followers__user-name-box {
    margin: 20px 0;
  }
}
@media (max-width: 860px) {
  .section-customers__content {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 617px) {
  .footer-page__list {
    margin-top: 10px;
  }
  .footer-page__content {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 339px) {
  .footer-page__list {
    margin-top: 20px;
    flex-direction: column;
  }
}
.tw-btn {
  display: flex;
  justify-content: center;
  background-color: #1DA1F2;
  padding: 15px 20px;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.tw-btn img {
  margin-right: 10px;
}
.tw-btn:hover {
  opacity: 0.8;
}
.tw-btn--sm {
  width: 300px;
}
.tw-btn--full {
  width: 100%;
}

.card-feature {
  border: 1.5px solid #C0C0C0;
  padding: 30px;
  width: 500px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card-feature__emoji {
  font-size: 30px;
}
.card-feature__title {
  font-size: 23px;
  font-weight: bold;
  margin: 10px 0;
}
.card-feature__description {
  font-size: 21px;
}

.post-tw-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px;
  height: auto;
  border-radius: 5px;
  width: 400px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.post-tw-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-tw-card__user-content-names {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.post-tw-card__avatar {
  width: 60px;
  margin-right: 20px;
}
.post-tw-card__name {
  font-weight: bold;
}
.post-tw-card__comment {
  margin: 30px 0;
}
.post-tw-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  background-color: #FBF8F3;
  padding: 30px;
  border-radius: 10px;
  border: 1.5px solid #FFB230;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card-price__header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #C0C0C0;
  padding: 5px 0;
}
.card-price__type-plan {
  color: #636363;
  font-size: 25px;
}
.card-price__price {
  font-weight: bold;
  font-size: 50px;
}
.card-price__abb-ty-plan {
  font-size: 23px;
  color: #636363;
}
.card-price__content-benefits-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #C0C0C0;
}
.card-price__benefits-items {
  display: inline-flex;
}
.card-price__checked-icon {
  margin-right: 15px;
}

/* media */
@media (max-width: 1240px) {
  .card-feature {
    width: 100%;
  }
}
@media (max-width: 860px) {
  .post-tw-card {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
